html,
body {
	margin: 0;
	padding: 0;
	background: rgb(0, 0, 0);
	overscroll-behavior-y: none;
}
canvas {
	display: block;
	margin: 20px;
	border-radius: 1rem;
	background: url("./Assets/tile_05.png");
	background-size: 50px;
}

.button {
	display: block;
	background: none;
	padding: 6px 16px;
	border: none;
	outline: none;
	color: white;
	border-radius: 1000px;
}

.score {
	color: white;
	width: 100%;
	position: absolute;
	top: 1rem;
	font-size: 1.2rem;
	text-align: center;
}

#speedButton {
	position: absolute;
	bottom: 5px;
	left: 5px;
}

#pauseButton {
	position: absolute;
	bottom: 5px;
	right: 5px;
}

.gameOverWindow {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.popup {
	min-width: 300px;
	min-height: 150px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 1rem;
	text-align: center;
	background: #000;
	color: white;
	border-radius: 1rem;
}
